<header id="header" class="header d-flex align-items-center sticky-top">
  <div class="container position-relative d-flex align-items-center justify-content-between">
    <a href="/" class="logo d-flex align-items-center me-auto me-xl-0">
      <img src="/img/logo.png" alt="" class="img-fluid ">
    </a>

    <nav id="navmenu" class="navmenu">
      <ul class="fs-5">
        <li>
          <a th:href="@{/}" th:class="${currentPage == 'home' ? 'active' : ''}">TRANG CHỦ</a>
        </li>
        <li>
          <a th:href="@{/shop}" th:class="${currentPageName == 'shop' ? 'active' : ''}">SẢN PHẨM</a>
        </li>
      </ul>

      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    <div class="header-social-links d-flex align-items-center">
      <form id="searchForm" action="/shop" method="get">
        <div class="input-wrapper me-3">
          <button type="button" class="icon" id="searchButton">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
          <input type="text" name="keyword" class="input" id="searchInput" placeholder="Tên sản phẩm" />
        </div>
      </form>
      <!-- Icon giỏ hàng -->
      <a href="/cart" class="position-relative me-3">
        <i class="bi bi-cart fs-4"></i>
        <span class="position-absolute bg-danger rounded-circle text-white px-2"
          style="top: -5px; left: 15px; height: 20px; min-width: 20px; font-size: 12px; line-height: 20px;"
          th:text="${cartCount}">0</span>
      </a>

      <!-- Dropdown người dùng -->
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="userDropdown" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">

          <!-- Chưa đăng nhập -->
          <th:block th:if="${session.currentUser == null}">
            <i class="bi bi-person fs-4"></i>
          </th:block>

          <!-- Đã đăng nhập -->
          <th:block th:if="${currentUser != null}">
            <img th:src="${currentUser.photo != null and currentUser.photo != ''} 
             ? ${currentUser.photo} 
             : 'https://ui-avatars.com/api/?name=' + ${currentUser.fullname}" class="rounded-circle"
              style="width: 40px; height: 40px;">
          </th:block>

        </a>



        <ul class="dropdown-menu dropdown-menu-end shadow-sm" aria-labelledby="userDropdown" data-aos="zoom-out-down">
          <!-- Chưa đăng nhập -->
          <th:block th:if="${session.currentUser == null}">
            <li>
              <a class="dropdown-item" href="/Dangnhap">
                <i class="bi bi-box-arrow-in-right me-1"></i> Đăng nhập
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="/Dangky">
                <i class="bi bi-person-plus me-1"></i> Đăng ký
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="/quenmk">
                <i class="bi bi-key me-1"></i> Quên mật khẩu
              </a>
            </li>
          </th:block>

          <!-- Đã đăng nhập -->
          <th:block th:if="${session.currentUser != null}">
            <li>
              <a class="dropdown-item fw-bold" href="/profile" th:text="${session.currentUser.fullname}">
                <i class="bi bi-person-circle me-1"></i> Tên người dùng
              </a>
            </li>
            <li>
              <hr class="dropdown-divider my-1">
            </li>
            <li>
              <a class="dropdown-item" href="/donhang">
                <i class="bi bi-cart-check me-1"></i> Đơn hàng của bạn
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="/doimk">
                <i class="bi bi-lock me-1"></i> Đổi mật khẩu
              </a>
            </li>

            <!-- Chỉ hiện nếu là admin -->
            <th:block sec:authorize="hasAuthority('ROLE_ADMIN')">
              <li>
                <hr class="dropdown-divider my-1">
              </li>
              <li>
                <a class="dropdown-item text-primary" href="/admin/products">
                  <i class="bi bi-gear me-1"></i> Quản lý
                </a>
              </li>
            </th:block>

            <li>
              <hr class="dropdown-divider my-1">
            </li>
            <li>
              <form th:action="@{/logout}" method="post" class="m-0">
                <button class="dropdown-item text-danger" type="submit">
                  <i class="bi bi-box-arrow-right "></i> Đăng xuất
                </button>
              </form>
            </li>
          </th:block>
        </ul>
      </div>
    </div>
  </div>
</header>