<!DOCTYPE html>
<html lang="vi">

<head th:replace="~{/layouts/header}">
    <title>Trang chủ</title>
</head>

<body>
    <header th:replace="~{/layouts/nav}">
    </header>
    <main class="container">
        <div class="container py-5 h-100">
            <section class="text-center text-lg-start" data-aos="fade-up" data-aos-duration="1000">
                <div class="container py-4">
                    <div class="row g-0 align-items-center">
                        <div class="col-lg-6 mb-5 mb-lg-0">
                            <div class="card cascading-right bg-body-tertiary" style="backdrop-filter: blur(30px);">
                                <div class="card-body p-5 shadow-5 text-center">
                                    <h2 class="fw-bold mb-5">Đăng ký ngay</h2>
                                    <form th:action="@{/Dangky}" method="post" th:object="${dangkyaccout}">
                                        <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>
                                        <div class="row">
                                            <div class="col-md-6 mb-4">
                                                <div data-mdb-input-init class="form-outline">
                                                    <label class="form-label" for="form3Example1">Tên tài khoản</label>
                                                    <input type="text" th:field="*{username}" id="form3Example1" class="form-control form-control-lg" />
                                                    <div th:if="${#fields.hasErrors('username')}" class="text-danger">
                                                        <span th:errors="*{username}"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-4">
                                                <div data-mdb-input-init class="form-outline">
                                                    <label class="form-label" for="form3Example2">Số điện thoại</label>
                                                    <input type="text" th:field="*{mobile}" id="form3Example2" class="form-control form-control-lg" />
                                                    <div th:if="${#fields.hasErrors('mobile')}" class="text-danger">
                                                        <span th:errors="*{mobile}"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-mdb-input-init class="form-outline mb-4">
                                            <label class="form-label" for="form3ExampleFullName">Họ và tên</label>
                                            <input type="text" th:field="*{fullname}" id="form3ExampleFullName" class="form-control form-control-lg" />
                                            <div th:if="${#fields.hasErrors('fullname')}" class="text-danger">
                                                <span th:errors="*{fullname}"></span>
                                            </div>
                                        </div>
                                        <div data-mdb-input-init class="form-outline mb-4">
                                            <label class="form-label" for="form3Example3">Địa chỉ email</label>
                                            <input type="email" th:field="*{email}" id="form3Example3" class="form-control form-control-lg" />
                                            <div th:if="${#fields.hasErrors('email')}" class="text-danger">
                                                <span th:errors="*{email}"></span>
                                            </div>
                                        </div>

                                        <div data-mdb-input-init class="form-outline mb-4">
                                            <label class="form-label" for="form3Example4">Mật khẩu</label>
                                            <div class="input-group">
                                                <input type="password" th:field="*{password}" id="form3Example4" class="form-control form-control-lg" />
                                                <button type="button" class="btn btn-outline-secondary toggle-password" data-target="form3Example4">
                                                    <i class="fas fa-eye"></i>
                                                </button>
                                            </div>
                                            <div th:if="${#fields.hasErrors('password')}" class="text-danger">
                                                <span th:errors="*{password}"></span>
                                            </div>
                                        </div>       
                                        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block mb-4">
                                            Đăng ký
                                        </button>

                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-5 mb-lg-0">
                            <img src="https://i.pinimg.com/736x/c2/dc/0e/c2dc0e706fe357f02db0535db1957a28.jpg" class="w-100 rounded-4 shadow-4" alt="Hình ảnh" />
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <div th:replace="~{/layouts/footer}">
    </div>
</body>

</html>