<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Đăng ký tài khoản</title>
</head>
<body>
    <h2>Đăng ký tài khoản</h2>

    <!-- Thông báo đăng ký thành công -->
    <div th:if="${message}">
        <p style="color: green;" th:text="${message}"></p>
    </div>
    <div th:if="${error}" class="alert alert-danger">
        <span th:text="${error}"></span>
    </div>
    <!-- Form đăng ký -->
    <form th:action="@{/Dangkytest}" method="post" th:object="${accoutDangky}">
        <label>Tài khoản: <input type="text" th:field="*{username}" required/></label>
        <p style="color: red;" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>

        <label>Mật khẩu: <input type="password" th:field="*{password}" required/></label>
        <p style="color: red;" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>

        <label>Họ và tên: <input type="text" th:field="*{fullname}" required/></label>
        <p style="color: red;" th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}"></p>

        <label>Email: <input type="email" th:field="*{email}" required/></label>
        <p style="color: red;" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>

        <button type="submit">Đăng ký</button>
    </form>

    <p>Đã có tài khoản? <a th:href="@{/dangnhap}">Đăng nhập</a></p>
</body>
</html>
