<!DOCTYPE html>
<html lang="en">

<head th:replace="~{/layouts/header}">
    <title>Home</title>
</head>

<body>
    <header th:replace="~{/layouts/nav}">
    </header>
    <main class="container">
      <section class="py-6" id="page-single-product" style="padding-top: 80px;">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 pe-lg-6">
              <div class="row">
                <div class="col-12 mt-4">
                  <img class="rounded img-fluid" src="https://bizweb.dktcdn.net/100/446/974/products/ao-thun-mlb-new-era-heavy-cotton-new-york-yankees-black-13086578-1.jpg?v=1691318321487" alt="Sparrow Shirt main view">
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="col-12">
                <h1 >Sparrow Shirt - The Beginning</h1>
              </div>
              <div class="sticky-top py-6 py-lg-8">
                <h2 class="fw-normal">$11.00</h2>
                <h6 class="mt-4">Product Details</h6>
                <p class="text-body-secondary">
                  Blue solid chambray shirt, has a spread collar, three-quarter sleeves, button closure, 1 pocket, curved hem.
                </p>
                <h6 class="mt-4">Material & Care</h6>
                <p>Lyocell<br>Machine-wash</p>
                <h6 class="mt-4">Select Size</h6>
                <div class="d-flex align-items-center mb-4 me-3">
                  <div class="d-sm-flex align-items-center me-3">
                    <label class="me-2 mb-0" for="size-select">Sizes</label>
                    <select class="form-select font-secondary" id="size-select">
                      <option>XS</option>
                      <option>S</option>
                      <option>M</option>
                      <option>L</option>
                      <option>XL</option>
                    </select>
                  </div>
                  <div class="d-sm-flex align-items-center ms-3">
                    <label class="me-2 mb-0" for="quantity-select">Quantity</label>
                    <select class="form-select font-secondary" id="quantity-select">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                    </select>
                  </div>
                </div>
                <div class="d-grid">
                  <a class="btn btn-dark" href="../pages/cart.html">Add to Cart</a>
                </div>
                <a class="fs-10 text-body-highlight d-block mt-4" href="#!">Size Guide</a>
                <a class="fs-10 text-body-highlight d-block" href="#!">Delivery & Returns</a>
              </div>
            </div>
          </div>
        </div><!-- end of .container -->
      </section>
    </main>
    <div th:replace="~{/layouts/footer}">
    </div>
</body>

</html>