<!DOCTYPE html>
<html lang="en">

<head th:replace="~{/layouts/header}">
  <title>Home</title>
</head>

<body>
  <header th:replace="~{/layouts/nav}"></header>
  <main class="container ">
    <section class="py-6" id="page-single-product">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 pe-lg-6">
            <div class="row">
              <!-- Main Slider -->
              <div class="swiper main-slider">
                <div class="swiper-wrapper">
                  <div th:each="img : ${product.productImages}" class="swiper-slide">
                    <img class="img-thumbnail slider-image" th:src="${img.imageUrl}" alt="">
                  </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>

              <!-- Thumbs Slider -->
              <div class="swiper thumbs-slider mt-3">
                <div class="swiper-wrapper">
                  <div th:each="img : ${product.productImages}" class="swiper-slide">
                    <img class="img-fluid thumb-image" th:src=" ${img.imageUrl}" alt="">
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="col-lg-6">
            <h1 th:text="${product.name}" class="mb-3"></h1>
            <h2 th:text="${#numbers.formatDecimal(product.price, 1, 'COMMA', 0, 'COMMA')} + ' VND'"
              class="text-muted mb-4"></h2>
              
            <h6 class="mt-4 mb-3">Product Details</h6>
            <p th:text="${product.description}" class="text-secondary mb-4"></p>
           
            <!-- Nếu sản phẩm còn hàng, hiển thị nút thêm vào giỏ -->
            <form th:action="@{/cart}" method="get" class="mt-4"
              th:if="!${isOutOfStock} and ${#authorization.expression('!hasRole(''ADMIN'')')}">
             
              <p class="text-muted">Còn lại: <span th:text="${product.quantity}"></span> sản phẩm</p>
              <!-- Hidden Product ID -->
              <input type="hidden" name="productId" th:value="${product.id}">

              <!-- Hidden action -->
              <input type="hidden" name="action" value="add">

              <!-- Quantity Selector -->
              <div class="d-flex align-items-center gap-2 mb-4">
                <button type="button" class="btn btn-outline-dark btn-sm px-3 py-2"
                  onclick="changeQuantity(-1, 'quantityInput')" th:disabled="${product.quantity <= 1}">-</button>

                <input type="number" id="quantityInput" name="quantity" value="1" min="1" th:max="${product.quantity}"
                  class="form-control form-control-sm text-center" style="width: 80px; height: 40px;" readonly>

                <button type="button" class="btn btn-outline-dark btn-sm px-3 py-2"
                  onclick="changeQuantity(1, 'quantityInput')" th:disabled="${product.quantity <= 1}">+</button>
              </div>

              <!-- Submit Button -->
              <button type="submit" class="btn btn-dark">Add to Cart</button>
            </form>

            <!-- Nếu sản phẩm hết hàng, hiển thị thông báo -->
            <p class="text-danger fw-bold" th:if="${isOutOfStock}">Hết hàng</p>


          </div>
        </div>
      </div>
    </section>
  </main>

  <div th:replace="~{/layouts/footer}"></div>

  <script>

  </script>

</body>

</html>