<!DOCTYPE html>
<html lang="en">
    <head th:replace="~{/layouts/header}">
        <title>Home</title>
    </head>
    <body>
        <header th:replace="~{/layouts/nav}">
        </header>
        <main class="container">
            <h1>Đăng nhập</h1>
            <form>
                <div>
                    <label for="username">Email</label>
                    <input type="email" id="email" name="email" placeholder="Nhập email">
                </div>
                <div>
                    <label for="password">Mật Khẩu</label>
                    <input type="password" id="password" name="password" placeholder="Nhập mật khẩu">
                </div>
                <div>
                    <button type="submit">Đăng nhập</button>
                </div>
                <div>
                    <a href="#">Bạn quên mật khẩu ?</a>
                </div>
            </form>
            <p>
                Bạn chưa có tài khoản ? <a href="/Dangky">Đăng ký</a>
            </p>
        </main>
        <div th:replace="~{/layouts/footer}">
        </div>
    </body>
</html>