<!DOCTYPE html>
<html lang="en">
    <head th:replace="~{/layouts/header}">
        <title>Home</title>
    </head>
    <body>
        <header th:replace="~{/layouts/nav}">
        </header>
        <main>
            <div class="row mb-3">
                <div class="container-fluid page-header py-5">
                    <h1 class="text-center text-white display-6">ĐƠN HÀNG CỦA BẠN</h1>
                </div>
            </div>
            <div class="container">
                <table class="table table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Mã đơn hàng</th>
                            <th scope="col">Ngày đặt</th>
                            <th scope="col">Trạng thái</th>
                            <th scope="col">Tổng tiền</th>
                            <th scope="col">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="order : ${orders}">
                            <td th:text="'#DH' + ${order.id}"></td>
                            <td th:text="${#temporals.format(order.createDate, 'dd/MM/yyyy HH:mm')}"></td>
                            <td>
                                <span th:class="${order.status ? 'badge bg-success' : 'badge bg-warning'}"
                                      th:text="${order.status ? 'Đã giao' : 'Đang xử lý'}">
                                </span>
                            </td>
                            <td th:text="${#numbers.formatDecimal(#aggregates.sum(order.orderDetails.![quantity * price]), 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></td>


                            <td>
                                <a th:href="@{/chitietdonhang/{id}(id=${order.id})}" class="btn btn-dark btn-sm">Xem chi tiết</a>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </main>
        
        <div th:replace="~{/layouts/footer}">
        </div>
    </body>
</html>