git pull origin main<!DOCTYPE html>
<html lang="vi">
<head th:replace="~{/layouts/header}">
</head>
<body>
    <header th:replace="~{/layouts/nav}"></header>
    <main class="container">
        <div class="container-fluid page-header py-5 bg-dark">
            <h1 class="text-center text-white display-6">Giỏ Hàng</h1>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="#" class="text-light">Trang Chủ</a></li>
                <li class="breadcrumb-item"><a href="#" class="text-light">Trang</a></li>
                <li class="breadcrumb-item active text-white">Giỏ Hàng</li>
            </ol>
        </div>

            <!-- Tổng đơn hàng -->
            <div class="row g-4 justify-content-end">
                <div class="col-lg-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h1 class="display-6 mb-4">Tổng đơn hàng</h1>
                            <div class="d-flex justify-content-between mb-4">
                                <h5 class="mb-0">Tổng tiền :</h5>
                                <p class="mb-0" th:text="${#numbers.formatDecimal(total, 0, 'COMMA', 0, 'POINT')} + ' ₫'"></p>
                            </div>
                            <form th:action="@{/cart/checkout}" method="post">
                                <button type="submit" class="btn btn-primary btn-lg w-100 text-uppercase">
                                    Thanh Toán Ngay
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>